$darkBlue=#289CC7

$darkGrey=#363636
$grey=#cecece
$grey100=#d3d3d3
$lightGrey=#dbdbdb
$sand=#A18A60
$green=#29c961
$white=#fff

$black=#303741

$button-bg=linear-gradient(to bottom, $white, $lightGrey)