@require "constants.styl"

@font-face
    font-family Geo
    font-style normal
    src url(https://fonts.googleapis.com/css?family=Nunito:400,700)

.cron-builder
    display block
    min-height 200px
    background-color $white
    padding 15px
    color $darkGrey
    font-size 14px
    flex 1

    &__fieldset
        display flex
        justify-content center

    &__legend
        display flex
        justify-content center

    &__tab
        height 36px
        font-weight bold
        color inherit
        border none
        margin 5px
        cursor pointer
        padding 5px 7px 5px 7px
        color $darkGrey
        text-align center
        white-space nowrap
        font-size 14px
        -webkit-appearance none
        align-items center
        border 1px solid $lightGrey !important
        border-radius 4px !important
        box-shadow: none
        display inline-flex
        line-height 1.5
        position relative
        vertical-align top
        background-color $white !important

        &:hover:not(&--active)
            background-color $sand !important
            color $white
            border none !important

        &--active
            background-color $sand !important
            cursor default
            color $white
            border none !important

    &__preset
        min-height 100px
        display flex
        align-items flex-end
        margin-bottom 40px
        margin-top 20px

    &__input
        margin-right 5px
        max-width 400px

    &__row
        display flex
        align-items center

        &--main
            margin-top 5px

        &--hours-range
            width 300px
            justify-content center

        &--inline
            display inline-flex

        &--items-end
            align-items flex-end

    &__label
        color $darkGrey
        margin-bottom 3px
        display block

    &__link
        color $white
        cursor pointer
        right 0
        margin-top 3px
        margin-right 5px

        &:hover
            text-decoration underline

    &__action
        margin 15px auto
        height 40px
        border none
        cursor: pointer
        justify-content center
        padding-bottom calc(0.375em - 1px)
        padding-left 0.75em
        padding-right 0.75em
        padding-top calc(0.375em - 1px)
        text-align center
        white-space nowrap
        background-color $green
        border-color transparent
        color $white

    &__result
        background-color $black
        color $white
        height 40px
        display flex
        align-items center
        justify-content center
        font-weight bold

    &__hr
        border none
        border-top 1px dashed $white

    &__pretty-expression
        color $white
        margin-top 20px
        margin-bottom 5px
        font-weight bold
        font-size 14px
        max-width 550px